<!-- Studenten beoordeelden {{ average.studie }} aan de {{ average.opleidingsInstituut }} gemiddeld met een {{ average.average }} -->


<app-studie-keuze [formControl]="studiekeuze"></app-studie-keuze>
<app-average-grid *ngIf="studiekeuze.touched" [averages]="averages | async"></app-average-grid>
