<div class="container">
  <form [formGroup]="reviewForm" (ngSubmit)="sendReview()" novalidate>
    <app-opleidingskeuze [studiesId]="studiekeuze | async" formControlName="instituut"></app-opleidingskeuze>

    <app-studie-keuze [instituutId]="instituut | async" formControlName="studiekeuze"
                      [canAdd]="true"></app-studie-keuze>

    <h4>Geef de opleiding een cijfer</h4>
    <mat-form-field class="rating_container">
      <mat-label>Cijfer</mat-label>
      <select class="dropdown" matNativeControl required formControlName="rating">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
      </select>
    </mat-form-field>
    <button type="submit" mat-mini-fab> Add</button>
  </form>
</div>

