.color--dark-blue {
  color: #1f2b6c;
}

mat-form-field.mat-focused {
  color: #1f2b6c;
}


input.mat-input-element, .ng-dirty, ng-invalid, .ng-touched label {
  color: #1f2b6c;
}

#saveForm {
  position: relative;
  top: -10px;
  left: -125px;
}

form {
  width: 100%;
}
