/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: auto;
}

header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #a3ccf4;
  margin-bottom: 50px
}

mat-form-field {
  width: 25%;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

mat-form-field.rating_container {
  width: 12%;
  margin-left: 125px;
  margin-right: 150px;
  text-align: center;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a, aside, body, div, h1, h2, h3, h4, h5, h6, header, input, label, menu {
  font-family: Roboto, sans-serif;
  color: #6389df
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: .8em;
  line-height: 130%
}

p {
  margin-bottom: 20px;
  color: #1f2b6c;
}

h1 {
  font-size: 40px
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

[class*=container] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.container--baseline {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

.container--center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.container--start {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}

.container--end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}

.container--justify {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.container--wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.tile {
  padding: 20px 0;
  background: #fff
}

.m--1 {
  margin-left: 8.33333%
}

.g--3 {
  width: 25%;
  margin-top: 15px;
  margin-bottom: 40px;
}

.g--10 {
  width: 83.33333%;
  margin-top: 15px;
  margin-bottom: 40px;
}

.no-margin-vertical {
  margin-top: 0;
  margin-bottom: 0
}

.g--12 {
  width: 100%;
  margin: auto;
  text-align: center;
}

.bg--blue {
  background: #a3ccf4
}

.bg--amethyst {
  background: #a3ccf4
}

.no-margin {
  margin: 0
}

.color--white {
  color: #ffffff
}

.color--brown-ish {
  color: #c7bab1;
}

.color--dark-blue {
  color: #1f2b6c;
}

.color--black{
  color: black;
}

footer {
  display: block;
  width: 100%;
  /*background: #bebcc1;*/
  padding-top: 20px;
  padding-bottom: 20px
}

a:not([class*=btn]) {
  background: linear-gradient(to top, #6389df 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 100% 200%;
  background-position: 0 10%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: inherit;
  transition: background-position .3s cubic-bezier(.64, .09, .08, 1);
  will-change: background-position
}

a:not([class*=btn]):active {
  color: inherit
}

a:not([class*=btn]):hover {
  background-position: 0 100%
}

a[class*=btn] {
  text-decoration: none
}

[class*=btn] {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 10px;
  background-image: none;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: background-color .3s cubic-bezier(.64, .09, .08, 1), box-shadow .3s cubic-bezier(.64, .09, .08, 1);
  will-change: background-size, background-image;
  padding: 10px 20px;
  display: inline-block;
  font-family: Roboto;
  border: 0
}

[class*=btn]:after {
  position: absolute;
  content: '';
  transition: none;
  background: radial-gradient(circle, #ffffff 95%, transparent 95%);
  background-size: .7%;
  background-position: 50% 50%;
  background-repeat: no-repeat
}

[class*=btn]:focus {
  outline: 0;
  background-size: 1000%;
  transition: all 1s cubic-bezier(.64, .09, .08, 1)
}
