<mat-form-field>
  <input type="text" id="studiekeuze" placeholder="Kies een studie" aria-label="Number" matInput [formControl]="formControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of suggestions | async" [value]="option">
      {{option.naam}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field><br>
<button
  type="button"
  *ngIf="!(suggestions | async)?.length && formControl.value && canAdd && !studieToegevoegd"
  (click)="addNewStudie()"
  mat-raised-button
>Voeg studie toe</button>

