<mat-form-field>
  <input type="text" placeholder="Kies het opleidingsinstituut" aria-label="Number" matInput [formControl]="formControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of suggestions | async" [value]="option">
      {{option.naam}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field><br>
