<table mat-table [dataSource]="beoordelingen">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="naam">
    <th class = "centerheadings color--dark-blue" mat-header-cell *matHeaderCellDef> Naam </th>
    <td mat-cell *matCellDef="let element"> {{element.naam}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="instituut">
    <th class = "centerheadings color--dark-blue" mat-header-cell *matHeaderCellDef> Instituut</th>
    <td mat-cell *matCellDef="let element"> {{element.instituut}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="studie">
    <th class = "centerheadings color--dark-blue" mat-header-cell *matHeaderCellDef> Studie </th>
    <td mat-cell *matCellDef="let element"> {{element.studie}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="rating">
    <th class = "centerheadings color--dark-blue" mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
<mat-paginator
  [length]= "aantal"
  [pageSize]="20"
  (page)="onPageChanged($event)"
  >
</mat-paginator>
<!-- hier geef je het aantal aan hoeveel de pagina heeft tevens wordt automatisch opgehaald hoeveel pagina's er zijn-->
