 <div class="g--12 tile bg--blue no-margin">
   <h1 class="title" (click)="goHome()">Course Advisor</h1>
  </div>

 <hr size="4" color="#1f2b6c">

  <!-- Hier komt de navigatie/tabbar -->
  <div routerLinkActive class="g--12 tile bg--blue no-margin-vertical" *ngIf="userService.currentUser">
    <div class="g--10 m--1 container no-margin-vertical">
      <div class="g--3 no-margin color--black">
        <a routerLink="newreview"> Schrijf een review </a>
      </div>
      <div routerLinkActive class="g--3 no-margin color--black">
        <a routerLink="overview"> Bekijk alle reviews </a>
      </div>
      <div routerLinkActive class="g--3 no-margin color--black">
        <a routerLink="averages"> Bekijk alle gemiddeldes </a>
      </div>
      <div routerLinkActive class="g--3 no-margin color--black">
        <a routerLink="home" (click)="logOut()">Log uit</a>
      </div>
    </div>
  </div>

  <div class="g--12">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div routerLinkActive class="g--12 tile bg--blue no-margin-vertical">
      <div class="g--10 m--1 container no-margin-vertical">
        <h6 class="g--3 no-margin color--black"><a> All rights reserved</a></h6>
        <h6 class="g--3 no-margin color--black"><a> Privacy Policy </a></h6>
        <h6 class="g--3 no-margin color--black"><a> About us </a></h6>
        <h6 class="g--3 no-margin color--black"><a> Contact </a></h6>
      </div>
    </div>
  </footer>

