<h2>Log in</h2>

<div class="example-container">
  <form [formGroup]="inlog" (ngSubmit)="addlogin()">
    <mat-form-field>
      <label>
        <input matInput placeholder="Gebruikersnaam" formControlName="gebruikersnaam">
      </label>
    </mat-form-field>

    <div *ngIf="gebruikersnaam.invalid">Gebruikersnaam onbekend</div>

    <button type="submit">Login</button>
  </form>
</div>
