<ng-container *ngIf="averages?.length">
<table mat-table [dataSource]="averages">

  <ng-container matColumnDef="studie">
    <th class = "centerheadings" mat-header-cell *matHeaderCellDef> Studie </th>
    <td class = "averages" mat-cell *matCellDef="let average"> {{ average.studie?.naam }}</td>
  </ng-container>

  <ng-container matColumnDef="instituut">
    <th class = "centerheadings" mat-header-cell *matHeaderCellDef> Instituut </th>
    <td class = "averages" mat-cell *matCellDef="let average"> {{ average.opleidingsInstituut?.naam }}</td>
  </ng-container>


  <ng-container matColumnDef="rating">
    <th class = "centerheadings" mat-header-cell *matHeaderCellDef> Gemiddelde cijfer </th>
    <td class = "averages" mat-cell *matCellDef="let average"> {{ average.rating | number : '1.0-1' }}</td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>
</ng-container>

<ng-container *ngIf="!averages?.length">
  <p>Helaas zijn er op dit moment nog geen reviews beschikbaar voor deze studie..</p>
</ng-container>
