<div><h2> Welkom </h2></div>
<p>Geef jouw studies een beoordeling zodat andere studenten verschillende studies
  bij verschillende opleidingsinstituut kunnen vergelijken.</p>
<app-inlog-scherm *ngIf="!userService.currentUser"></app-inlog-scherm>
<img src="assets/higher.jpg">




